#main {
    min-height: 80vh;

}

#main > h1 {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

#pokeAPIBtn > img {
    height: 10rem;
}

#ticTacToeBtn > img {
    height: 10rem;
}

