#main {
    min-height: 80vh;

}

#main > h1 {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 5rem;
}


#pokeAPIBtn {
    background: none;
    border: none;
    color:inherit;
    width: 13rem;
    padding: 0;
}

#ticTacToeBtn {
    background: none;
    border: none;
    color:inherit;
    width: 13rem;
    padding: 0;
}

#pokeAPIBtn > img {
    height: 10rem;
}



#ticTacToeBtn > img {
    height: 10rem;
}

