#root {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 ;
  padding: 0;
  text-align: center;
  background-color: #4CD7D0;
  color: #F8EA8C;
}

a:link {color: #F8EA8C; text-decoration: none }
a:hover {color: #E1C340; text-decoration: none }
a:visited {color: #F8EA8C; text-decoration: none }

main {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}