nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > button {
    background: none;
    border: none;
    color:inherit;
}

nav > button > img {
    height: 5rem;
}



nav > ul {
    display: flex;
    list-style-type: none;
    gap: 0.5rem;
}

nav #homeBtn {
    background: none;
    border: none;
    color:inherit;
}

nav #homeBtn > img {
    height: 1rem;
}